/*
Theme Name: Twenty Seventeen Child
Template: twentyseventeen
Theme URI: https://exanple.com
Author: Konstantin Rovniy
Description: Child theme for the  theme Twenty Seventeen.
Version: 1.0
*/

/*@import url("../twentyseventeen/style.css");*/


/* 
    Created on : 02.08.2017, 11:03:11
    Author     : Konstantin Rovniy
*/

.popup-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}

@media screen and (min-width: 10em){
    .tel-us{
        display: block ;        
    }
    .tel-us a{
        background-color: #222;
        border: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 800;
        line-height: 1;
        padding: 1em 2em;
        text-shadow: none;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
    }
    .email-us{
        display: block ;        
    }

    .email-us a{
        background-color: #222;
        border: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 800;
        line-height: 1;
        padding: 1em 2em;
        text-shadow: none;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
    }
    .p-container,.email-us a,.tel-us a{
        width: 100%;
        text-align: center;
    }

    .tel{
        display: none ;
    }
    .email{
        display: none;
    }
    .footer-info{
        padding-bottom: 20px;
    }
    .site-info{
        text-align: center;
        font-size: 0.875rem;
    }
    .task-popup{
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
    }
    .task-popup .task-popup-content{
        margin:35% 15% 0px auto;
        width:80%;
        height: 40%;
        font-size: 10.5px;
        padding:10px;
        background-color: #c5c5c5;
        border-radius:5px;
        box-shadow: 0px 0px 10px #000;
    }

    .task-popup-content a{
        color: #000;
        font-size: 14px;
        font-weight: bold;
    }
}

@media screen and (min-width: 30em){

    .tel-us{
        display: block ;        
    }
    .tel-us a{
        background-color: #222;
        border: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-size: 1.13rem;
        font-weight: 800;
        line-height: 1;
        padding: 1em 2em;
        text-shadow: none;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
    }
    .email-us{
        display: block ;        
    }

    .email-us a{
        background-color: #222;
        border: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-size: 1.13rem;
        font-weight: 800;
        line-height: 1;
        padding: 1em 2em;
        text-shadow: none;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
    }
    .p-container,.email-us a,.tel-us a{
        width: 100%;
        text-align: center;
    }

    .tel{
        display: none ;
    }
    .email{
        display: none;
    }
    .footer-info{
        padding-bottom: 20px;
    }
    .site-info{
        text-align: center;
        font-size: 0.875rem;
    }
    .task-popup{
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
    }
    .task-popup .task-popup-content{
        margin:10% 12% 0px auto;
        width:80%;
        height: 40%;
        padding:10px;
        background-color: #c5c5c5;
        border-radius:5px;
        box-shadow: 0px 0px 10px #000;
        font-size: 14px;
    }

    .task-popup-content a{
        color: #000;
        font-size: 14px;
        font-weight: bold;
    }

}

@media screen and (min-width: 48em){
    .site-info {
        float: left;
        padding: 4.0em 0 0;
        width: 58%;
    }

    .footer-info{
        float: right;
    }
    .tel-us{
        display: none ;
    }
    .email-us{
        display: none;
    }
    .tel{
        display: block ;
    }
    .email{
        display: block;
    }

    .site-info{
        text-align: left;
        font-size: 0.875rem;
    }
    .task-popup{
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
    }
    .task-popup .task-popup-content{
        margin:20% 30% auto auto;
        width:59%;
        height: 40%;
        padding:10px;
        background-color: #c5c5c5;
        border-radius:5px;
        box-shadow: 0px 0px 10px #000;
        font-size: 15px;
    }

    .task-popup-content a{
        color: #000;
        font-size: 17px;
        font-weight: bold;
    }


}

.images .thumbnails a img {
    padding-top: 10px  ;
}
.site-footer .widget-area {
    padding: 0 0 0 0;
}




