/* Style for Test task  on page http://testdomain.dev/product/happy-ninja-2/*/


/*.has-sidebar:not(.error404) #primary {
		float: right !important;
		width: 58% !important;
	}

.has-sidebar #secondary {
		float: left !important;
		padding-top: 0 !important;
		width: 36% !important; 
	}
*/

@media screen and (min-width:48em){
	.has-sidebar.woocommerce-page:not(.error404)
	 #primary{
	 	/*width:74%;*/
	 	width:24%;
	 }

	.has-sidebar:not(.error404) #primary {
		float: right !important;
		width: 58%;
	}

	#secondary{
		width:20%
	}	

	 .has-sidebar #secondary {
		float: left !important ;
		padding-top: 0;
		width: 36%;
	}
}

.widget_product_search .search-field{
	padding-right:  5px !important ;

}

.widget_product_search input[type=submit] {
    position: absolute;
    top: .5em;
    left: .5em !important;
    padding-left: 1em;
    padding-right: 1em;
}

.site-footer .widget .product_list_widget li a.remove,.widget .product_list_widget li a.remove{
	float: left !important;
	margin-top:2px;
}

.single-product .woocommerce-product-rating .star-rating {
    float: right !important;
    margin-left: .25em !important;
    transform: scale(-1, 1) !important;
}
.images .thumbnails a{
    float: right !important;
    margin: 0px !important;

}

.star-rating{
	transform: scale(-1, 1) !important;
}

